# Visual Studio 2015 user specific files



.vs/
_GM/
Content/

Binaries/

--Dialod_Name_01 - Copy.xml
--XML_Example.xml
dddddddddddddddddddddddd.txt
DerivedDataCache/
ggggggggggggg/


Intermediate/


Saved/





